<header class="header">
  <div class="container header__content">
    <div class="header__logo">
      <img src="iot.png" alt="IoT Logo" class="header__logo-img" />

      <span class="header__title">IoT Hub</span>
    </div>
    <nav class="header__nav">
      <ul>
        <li>
          <a
            href="https://github.com/Anatolii-Stoliarenko/iot-event-hub.git"
            target="_blank"
            rel="noopener noreferrer"
            ><div class="header__link-icon">
              Frontend
              <img
                src="github-sign.png"
                alt="GitHub Logo"
                class="github-icon"
              />
            </div>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/Anatolii-Stoliarenko/iot-event-backend.git"
            target="_blank"
            rel="noopener noreferrer"
            ><div class="header__link-icon">
              Backend
              <img
                src="github-sign.png"
                alt="GitHub Logo"
                class="github-icon"
              />
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
